<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- for current location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StaySwift"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".AdminDashboardActivity" />
        <activity android:name=".GuestHomeActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".admin.CreateHotelBasicInfoActivity" />
        <activity android:name=".admin.PickHotelLocationActivity" />
        <activity android:name=".admin.SelectHotelAmenitiesActivity" />
        <activity android:name=".admin.UploadHotelPhotosActivity" />
        <activity android:name=".admin.ReviewHotelActivity" />
        <activity android:name=".admin.AllHotelsActivity" />
        <activity android:name=".admin.HotelDetailsActivity" />
        <activity android:name=".admin.EditHotelActivity" />
        <activity android:name=".admin.SelectHotelForRoomsActivity" />
        <activity android:name=".admin.RoomCategoriesActivity" />
        <activity android:name=".admin.AddEditRoomCategoryActivity" />
        <activity android:name=".admin.ManageRoomsActivity" />
        <activity android:name=".user.HotelDetailGuestActivity" />
        <activity android:name=".user.HotelListActivity" />
        <activity android:name=".user.SelectRoomActivity" />
        <activity android:name=".user.BookingCheckoutActivity" />
        <activity android:name=".user.BookingDetailsActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>